.notification{
  margin-bottom: .5rem;
  justify-content: space-between;
  position: relative;
  
  border-radius: 10px;
  overflow: hidden;
  background-color:white;

  &-image{
    width: 50%;
    height:100%;
    background-size:cover ;
    background-position: center;
    border-radius: 10px;
  }

  &-data{
    height: 10rem;
  }

  &-list-item{
    justify-content: space-between;
    align-items:flex-start
  }

  &-buttons{
    width: 100%;
    align-self: flex-start;
  }

}








