.notification{
  margin-bottom: .5rem;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color:white;
  display: flex;
  justify-content: flex-start;
  
  &-list-item{
    justify-content: space-between;
    align-items:flex-start
  }

  &-buttons{
    width: 100%;
    align-self: flex-start;
  }

}








