.bottom-nav {
  background-image: url(https://res.cloudinary.com/ilnphotography/image/upload/v1582805877/HomePage/back.png_uynssv.jpg);
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  bottom: -1px;
  width: 100%;
  max-width: 30rem;
  z-index: 99;
  color: white;
  transition: all 2s;

  
}

.ant-menu-horizontal > .ant-menu-item{
  display: flex;
  align-items:center;
  justify-content: center;
  height: 3rem;
}

.ant-menu-horizontal>.ant-menu-item:hover,
.ant-menu-horizontal>.ant-menu-submenu:hover,
.ant-menu-horizontal>.ant-menu-item-active,
.ant-menu-horizontal>.ant-menu-submenu-active,
.ant-menu-horizontal>.ant-menu-item-open,
.ant-menu-horizontal>.ant-menu-submenu-open,
.ant-menu-horizontal>.ant-menu-item-selected,
.ant-menu-horizontal>.ant-menu-submenu-selected {
  color: rgb(255, 255, 255);
  border-bottom: 3px solid rgb(239, 1, 86);
}

.ant-menu-horizontal>.ant-menu-item{
  color: rgba(255, 255, 255, 0.537);
}



.ant-menu-item .anticon {
  margin-right: 0;

}

.ant-menu-horizontal li {
  width: 25%;
}

.ant-menu-horizontal li span {
  width: 100%;
}