.bottom-nav{
  background-color: white;
  border-radius: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.ant-menu-item .anticon{
  margin-right: 0;
  
}
.ant-menu-horizontal li {
  width: 25%;
}
.ant-menu-horizontal li span{
  width: 100%;
}