.sign-in-up {
  width: 90%;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.input-signin{
  border: 1px solid #529fe7;
  background-color: #5645a1;
}

.input-signin > input.ant-input{
  background-color: #5645a1;
}

.g-signin,
.f-signin {
  background-image: linear-gradient(to right , #5e50a5 , #1890ff);
  color: white;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.ant-btn-icon-only.ant-btn-lg {
  width: 50%;
  display:flex;
  justify-content: center;
}

.g-signin:hover,
.f-signin:hover {
  background-image: linear-gradient(to right , #1890ff , #5e50a5);
  color: white;
  transition: all 2s;
}

.signup-sub {
  cursor: pointer;
  text-align: center;
  color: rgb(201, 201, 201);
}