.loader4 {
  width: 50px;
  position: relative;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 1s linear 0s infinite;

}

.loader4 .container {
  position: relative;
  width: 80%;
  height: 80%;

}

.loader4 .line {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50%;
  width: 50%;
  border-radius: 100px 0 0 0;
  border-top: 4px solid rgb(232, 4, 110);
  border-left: 4px solid rgb(232, 4, 110);
  animation: opacity 1s ease-in-out infinite;

}

.loader4 .line2 {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50%;
  width: 50%;
  border-radius: 0 100% 0 0;
  border-top: 4px solid rgb(232, 4, 110);
  animation: opacity 1s ease-in-out infinite;

}

@keyframes opacity {
  0% {
      opacity: 1;
  }

  50% {
      opacity: 0.3;
  }

  100% {
      opacity: 1;


  }
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }



  100% {
      transform: rotate(-360deg);


  }
}