form.item-form {
  width: 100%;
  min-height: 11rem;
  flex-direction: column;
  justify-content: space-between;
  transition: all .3s;
}

.fail-message {
  color: rgb(240, 69, 69);
  margin: .5rem;
  font-size: .8rem;
}

.ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner {
  border-color: #7344aa;
}
.ant-radio-inner::after {
  background-color: #7344aa;
}