.user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;

  &-name{
    
  }

  &-img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
  }

  &-spend {
    width: 100%;
    color: white;
    
    padding: 0 .5rem;
   
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 5px;
  }

  .totals-conatiner{
    width: 100%;
  }

  &-inc span {
    font-size: 1.7rem;
    font-weight: 100;
  }

  &-inc {
    border-left: .4px solid white;
  }

  &-exp  span{
    font-size: 1.7rem;
    font-weight: 100;
  }

  
}


.avatar-no-picture {
  background-color: #f50057;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  
}

.avatar-picture {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.avatar-no-picture span {
  font-size: 3rem;

}