.header-container {
  position: relative;
  z-index: 10;
  width: 100%;
  min-height:10rem;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  display: flex;
  box-shadow: 0 3px 30px rgba(51, 49, 49, 0.46);
  padding: 1rem;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  background-image: url(https://res.cloudinary.com/ilnphotography/image/upload/c_scale,q_auto,w_689/v1582805877/HomePage/back.png_uynssv.jpg);
  background-size: cover;
}