.todo-list {
  width: 90%;
  padding: 2rem 0;

  &-title {
    color: black;
    margin-left: 1.5rem;
    padding: 1.5rem 1rem;
  }
}

.todo-list-items {
  position: relative;
  z-index: 2;
  width: 100%;
  border-radius: 10px;
}

.list-button {
  padding-top: 1rem;
  margin-top: -10px;
  height: 4rem;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}