.ant-collapse {
  width: 70%;
  border: none;
  border-radius: 0 0 25px 25px;
}

.ant-collapse-item:last-child > .ant-collapse-content {
  border-radius: 0 0 25px 25px;
}

.ant-collapse > .ant-collapse-item {
  border-bottom: none; 
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  position: relative;
  padding: 3px 16px;
}
.plus-icon{
  font-size: 3rem;
}