.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  padding: 6px 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  &-icon {
    font-size: 2rem!important;
  }
}