.ant-modal-body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 20px;
}

.ant-modal-content {
  border-radius: 20px;
  
}

.invited-friends{
  border: 1px solid #1890ff;
  min-height: 4rem;
  border-radius: 2px;
}

@media (min-width: 500px) {
  .search-modal{
    max-width: 29rem;
  }
}
