.switch-title{
  border-bottom: 1px solid rgb(193, 193, 193);
  width: 100%;
  text-align: center;
  padding-bottom: 3px;
}

.switch-image{
  width: 3rem;
  height: 3rem;
  background-size:cover;
  background-position: center;
  border-radius: 5px;
}

.switch-item{
  justify-content: flex-start;
}

.drop{
  width: 20rem;
  align-items: flex-start;
  
}

.ant-empty-normal {
  width: 100%;

}

.ant-dropdown-menu-item{
  width: 100%;
}