.switch-title{
  border-bottom: 1px solid rgb(193, 193, 193);
  width: 100%;
  text-align: center;
  padding-bottom: 3px;
}

.switch-image{
  width: 4rem;
  height: 4rem;
  background-size:cover;
  background-position: center;
  border-radius: 5px;
}

.drop{
  width: 20rem;
  align-items: flex-start;
  
}

.ant-empty-normal {
  width: 100%;

}