
.sign-in-and-sign-up {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  z-index: 100;
  width: 100%;
  background-color: white;
  background-image: linear-gradient(to right bottom, #7243a9, #436fb9);;
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}