* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  outline: none;
}

html {
  height: auto;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: rgb(68, 68, 68) !important;
}

input:-internal-autofill-selected {
  background-color: #1890ff !important;
  background-image: none !important;
  -webkit-box-shadow: 0 0 0px 1000px #1890ff inset !important;
}

.ant-input-affix-wrapper {
  border: none;
  background-color: #1890ff;
} */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-weight: 400;
  font-size: 1.5rem;
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, rgb(107, 99, 193), #71cbd6);
  background-size: cover;
  background-repeat: no-repeat;
  color:rgb(42, 40, 40);
}

a {
  text-decoration: none;
  color: black;
}

.App {
  position: relative;
  max-width: 30rem;
  background: linear-gradient(to right bottom, rgb(207, 207, 207),#edf4ff );
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

@media (min-width: 500px) {
  .App {
    margin: 0 auto;
   }
}

.App-footer {
  margin-top: auto;
  padding: .5rem;
  text-align: center;
  background: white;
}

.isLoading {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #7243a9, #436fb9);
}

.logo {
  font-family: 'Pacifico', cursive;
  padding: .5rem 1rem;
  font-size: 6rem;
  font-weight: 400;
  color: white;
  
}

.logo img {
  width: 40%;
}
.logo-container {
  max-width: 30rem;
}

.logo-container p{
  color: white;
}

.logo-container img {
  margin-top: 8%;
  width: 95%;
}

.logo-2 {
  font-family: 'Pacifico', cursive;
  margin: 2rem ;
  font-size: 4rem;
}

.hide {
  opacity: 0;
  display: none;
}


.color-primary {
  color: #f50057;
}

.ant-input {
  
  /* background-color: #fff; */
  background-image: none;
  border: 1px solid #1890ff;
  border-radius: 2px;
}