* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  outline: none;
}

html {
  height: auto;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-weight: 400;
  font-size: 1.5rem;
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, #7243a9, #436fb9);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  color:rgb(42, 40, 40);
}

a {
  text-decoration: none;
  color: black;
}

.App {
  position: relative;
  max-width: 30rem;
  background: linear-gradient(to right bottom, rgb(207, 207, 207),#edf4ff );
  box-shadow: 0 3px 30px rgba(34, 32, 32, 0.728);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

@media (min-width: 500px) {
  .App {
    margin: 0 auto;
   }
}

.App-footer {
  margin-top: auto;
  padding: .5rem;
  text-align: center;
  background: white;
}

.icon-standart{
  font-size: 1.6rem;
 
}

.logo {
  font-family: 'Pacifico', cursive;
  padding: .5rem 1rem;
  font-size: 6rem;
  font-weight: 400;
  color: white;
  
}

.logo img {
  width: 40%;
}

.color-primary {
  color: #f50057;
}

.black{
  color: rgb(27, 27, 27);
  
}
 

.ant-btn-primary{
  background: #ed1459;
  border: none;
  transition: 1s;
  transition: all .25s;
  opacity: .9;
  
}
.ant-btn-primary:hover,.ant-btn-primary:focus{
  background-image: linear-gradient(to right ,#ed1459 ,  #5e50a5);
  border: none;
 
}

.ant-input {
  /* background-color: #fff; */
  background-image: none;
  border: 1px solid #1890ff;
  border-radius: 2px;
}

.ant-collapse-content {
  border-top: none;
}

.date-color{
  color: darkgray;
}