.loading-screen{
  position: fixed;
  width: 100%;
  max-width: 30rem;
  height: 100vh;
  z-index: 100000;
  top: 0;
  background-color: white;
  overflow: hidden;
}

.spinner {
  animation: is-rotating 1s infinite;
  width: 50px;
  height: 50px;
  border: 6px solid #e5e5e5;
  border-top-color:#f50057;
  border-radius: 50%;
}

@keyframes is-rotating {
  to {
    transform: rotate(2turn);
  }
}