.spending {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  &-header {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 20rem;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    display: flex;
    box-shadow: 0 3px 30px rgba(51, 49, 49, 0.46);
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-image: url(https://res.cloudinary.com/ilnphotography/image/upload/v1582805877/HomePage/back.png_uynssv.jpg);
    background-size: cover;
  }

  &-list {
    background-color: rgb(255, 255, 255);
    width: 95%;
    margin: 3rem 1rem;
    box-shadow: 0 1px 20px rgba(51, 49, 49, 0.46);
    border-radius: 10px;

  }

  .list-header {
    justify-content: space-around;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    height: 4rem;
  }

  .list-header h2 {
    font-size: 2rem;
    border-bottom: 1.2px solid rgb(208, 42, 42);
  }

  .list-header h2:nth-child(2) {
    border-bottom: 1.2px solid rgb(84, 208, 42);
  }

}
